app:
  base-url: http://localhost:8080

server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/linksdb
    username: postgres
    password: postgres
    hikari:
      maximum-pool-size: 100
      minimum-idle: 40
      idle-timeout: 30000
      connection-timeout: 10000
      max-lifetime: 1800000

  jpa:
    hibernate:
      ddl-auto: create-drop

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
      percentiles:
        http.server.requests: 0.5,0.95,0.99